.App-header {
  text-align: center;
  background-color: lightblue;
  padding: 25px;
  font-size: 30px;
}

.App-header>a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.App-header>a:hover {
  font-size: 35px;
}
main {
  display: flex;
}